@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="KPIs" asp-action="Index" class="app-brand-link">
    @* <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link"> *@
      @* <span class="app-brand-logo demo me-1"><img src="~/img/avatars/bt_icon40x30.png" /></span>
      <span class="app-brand-text demo menu-text fw-semibold">BERNINA THAILAND</span> *@
         @* <span><img class="imageLogo" src="~/img/avatars/ber_logo200x67.png" /></span> *@
         <svg width="155" viewBox="0 0 111 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><g><g><g><path d="M17.145,0.076l13.411,0l0,3.505l-8.154,0l0,2.896l7.62,0l0,3.505l-7.62,0l0,3.277l8.611,0l0,3.428l-13.868,0l0,-16.611Z" style="fill:#ed1c24;fill-rule:nonzero;"/><path d="M49.834,0.076l5.334,0l6.324,9.144l0,-9.144l3.886,0l0,16.688l-5.334,0l-6.324,-8.992l0,8.915l-3.886,0l0,-16.611Z" style="fill:#ed1c24;fill-rule:nonzero;"/><rect x="67.893" y="0.076" width="5.486" height="16.611" style="fill:#ed1c24;"/><path d="M75.894,0l5.334,0l6.324,9.144l0,-9.144l3.886,0l0,16.687l-5.41,0l-6.248,-8.991l0,8.915l-3.886,0l0,-16.611Z" style="fill:#ed1c24;fill-rule:nonzero;"/><path d="M41.376,6.553l-3.048,0l0,-3.2l2.972,0c0,0 1.447,0.228 1.295,1.752c-0.152,1.524 -1.219,1.448 -1.219,1.448m6.324,9.144c-0.152,-0.457 -0.152,-0.152 -0.076,-2.743c0.076,-2.591 -0.457,-3.277 -0.457,-3.277c-0.686,-1.295 -1.676,-1.6 -1.676,-1.6c0,0 2.209,-0.914 2.209,-3.657c0,-3.963 -3.81,-4.268 -3.81,-4.268l-11.048,0l0,16.612l5.486,0l0,-6.706l1.829,0c0.228,0 0.99,0.076 1.295,0.229c0.533,0.228 0.61,0.533 0.686,0.609c0.152,0.305 0.076,2.591 0.076,2.591c0,0 0,1.905 0.229,2.515c0.228,0.609 0.685,0.762 0.685,0.762l5.182,0c0,-0.077 -0.534,-0.686 -0.61,-1.067" style="fill:#ed1c24;fill-rule:nonzero;"/><path d="M98.068,9.449l1.904,-5.106l1.829,5.106l-3.733,0Zm6.095,-9.373l-6.857,0l-6.096,16.611l4.114,0l1.601,-3.733l5.943,0l1.6,3.733l5.791,0l-6.096,-16.611Z" style="fill:#ed1c24;fill-rule:nonzero;"/><path d="M8.61,6.782l-3.048,0l0,-3.201l2.972,0c0,0 1.448,0.229 1.296,1.753c-0.153,1.524 -1.22,1.448 -1.22,1.448m0,6.477l-3.048,0l0,-3.201l2.972,0c0,0 1.448,0.229 1.296,1.753c-0.153,1.448 -1.22,1.448 -1.22,1.448m4.496,-5.411c0,0 1.981,-1.143 1.829,-3.505c-0.152,-3.962 -3.886,-4.267 -3.886,-4.267l-11.049,0l0,16.611c0,0 12.344,0 11.963,0c-0.381,0 1.372,0 2.134,-0.838c0.305,-0.304 1.524,-1.219 1.6,-3.429c0.152,-3.048 -2.591,-4.572 -2.591,-4.572" style="fill:#ed1c24;fill-rule:nonzero;"/></g></g></g><g><path d="M0.9,22.399c-0.45,0.3 -0.15,0.45 -0.15,0.675c0,0.3 -0.075,1.2 -0.075,1.425c0,0.225 -0.15,2.025 -0.15,2.4c0,0.525 0.15,1.65 0.6,1.65c0.45,0 0.6,-0.75 0.675,-1.125c0.075,-0.3 0.825,-3.825 1.8,-3.9c0.075,0 0.3,0.75 0.225,1.35c-0.075,0.6 -0.3,2.4 0.225,2.475c0.6,0.075 0.825,-0.6 0.9,-0.75c0.075,-0.15 0.9,-2.325 1.05,-2.325c0.15,0 0.525,2.55 0.675,2.85c0.15,0.45 0.6,0.9 1.125,0.75c0.375,-0.075 0.45,-0.6 0.375,-0.75c-0.075,-0.075 -0.225,-0.075 -0.3,-0.075c-0.15,0 -0.375,0 -0.45,-0.45c-0.15,-0.15 -0.6,-3.525 -1.5,-3.525c-0.6,0 -1.275,2.25 -1.275,2.25c-0.075,0 0,-0.675 -0.15,-1.275c-0.15,-0.675 -0.45,-1.275 -0.825,-1.275c-0.6,0 -1.275,0.75 -1.65,1.5c-0.45,0.9 -0.675,1.8 -0.675,1.8c-0.075,0 0.225,-3 0.225,-3.225c-0.075,-0.225 -0.375,-0.6 -0.675,-0.45Z" style="fill:#231f20;"/><path d="M14.25,27.124c-0.15,-0.15 -0.225,0.3 -0.75,0.15c-0.75,-0.15 -0.225,-2.1 -0.15,-2.325c0,-0.3 0,-0.675 -0.15,-0.9c-0.15,-0.225 -0.3,-0.15 -0.3,-0.15c-0.225,-0.3 -0.525,-0.6 -1.05,-0.6c-1.275,-0.075 -4.2,3.3 -2.55,4.5c1.125,0.825 3,-1.275 3.075,-1.275c0.075,0 -0.15,1.275 0.9,1.65c0.375,0.15 0.9,-0.375 0.975,-0.45c-0.075,-0.225 0.15,-0.45 0,-0.6Zm-4.65,-0.075c-0.6,-0.3 1.575,-3.45 2.475,-2.85c0.975,0.6 -1.65,3.225 -2.475,2.85Z" style="fill:#231f20;"/><path d="M26.775,27.424c-0.075,-0.15 -0.75,0.15 -1.05,0.3c-0.225,0.075 -2.175,1.05 -3.075,-0.525c0.6,-0.3 1.2,-0.75 1.5,-1.125c0.75,-0.975 0.9,-2.1 0.375,-2.475c-0.675,-0.45 -1.725,-0.3 -2.4,0.45c-0.6,0.675 -0.9,1.65 -0.6,2.7c-0.3,0.075 -0.675,0.15 -0.975,0.075c-1.8,-0.15 0.9,-6.225 -0.3,-6.3c-0.675,-0.075 -0.525,0.375 -0.675,1.275c-0.15,0.975 -0.525,2.55 -0.525,2.7c0,0.075 0,0.075 -0.075,0.15c0,-0.375 -0.375,-1.05 -1.275,-1.05c-0.975,0 -2.925,1.2 -2.925,2.925c0,1.275 0.825,1.425 1.05,1.425c0.825,0 1.8,-0.6 3.225,-2.175c0.075,0.375 0.225,0.9 0.45,1.2c0.45,0.75 1.425,0.825 2.4,0.525c0.075,0.075 0.075,0.15 0.15,0.225c1.2,1.95 3.825,0.9 4.65,0.15c0,-0.075 0.15,-0.3 0.075,-0.45Zm-11.025,-0.375c-0.75,-0.75 1.05,-2.775 2.1,-2.625c0.45,0.075 0.675,0.6 0.975,0.375c-0.675,0.975 -2.7,2.7 -3.075,2.25Zm8.175,-2.85c0.45,0.375 -0.375,1.575 -1.65,2.175c-0.3,-1.65 1.35,-2.475 1.65,-2.175Z" style="fill:#231f20;fill-rule:nonzero;"/><path d="M38.625,25.099c-0.375,-1.2 -1.35,-1.65 -2.475,-1.275c-0.225,0.075 -0.375,0.15 -0.525,0.225c0.075,-0.075 0.075,-0.15 0.075,-0.3c-0.075,-0.225 -0.15,-0.45 -0.6,-0.45c-0.375,0 -2.25,0.225 -2.85,0.375c0.075,-0.375 0.15,-0.825 0.225,-1.275c0.15,-0.9 0.45,-1.875 0,-1.95c-0.525,-0.075 -0.45,0.3 -0.6,0.75c-0.075,0.375 -0.3,1.575 -0.525,2.625c-0.9,0.15 -1.275,0.075 -1.5,0.075c-0.225,0.075 -0.375,0.3 -0.375,0.375c0,0.15 0.225,0.525 0.375,0.525c0.075,0 0.675,-0.075 1.35,-0.15c-0.075,0.9 -0.675,4.2 0.45,3.9c0,0 0.075,0 0.075,-0.075c0,-0.3 0.15,-0.225 0.075,-0.45c-0.075,-0.225 -0.075,-0.375 -0.075,-0.6c0,-0.45 0.225,-2.025 0.3,-2.925c0.15,0 0.225,0 0.375,-0.075c0.6,-0.075 1.2,-0.3 2.1,-0.3c-0.225,0.375 -0.6,1.05 -0.45,2.1c0.075,1.05 1.125,2.625 2.925,1.875c1.425,-0.525 2.025,-1.725 1.65,-3Zm-1.8,2.25c-0.525,0.15 -1.425,0.45 -1.95,-0.6c-0.15,-0.525 0,-1.125 0,-1.125c0,0 0.3,0.15 0.375,0c0.15,-0.15 0.225,-0.375 0.45,-0.525c0.225,-0.15 0.825,-0.45 1.05,-0.525c0.375,-0.075 0.9,-0.075 1.125,0.9c0.225,0.975 -0.525,1.725 -1.05,1.875Z" style="fill:#231f20;fill-rule:nonzero;"/><path d="M56.025,27.499c-0.075,-0.15 -1.275,0.225 -1.8,0.225c-0.45,0 -1.95,0.225 -1.8,-1.05c1.95,-0.225 3.75,-2.475 2.85,-3.45c-0.9,-0.975 -3.075,1.05 -3.6,2.625c-1.65,-0.3 -0.675,-2.325 -1.8,-2.4c-0.6,-0.075 -0.75,1.275 -0.9,1.275c-0.15,0 0.15,-0.75 -0.375,-0.75c-0.3,0 -0.45,0.3 -0.525,0.525c-0.075,0.15 -0.15,0.6 -0.225,0.975c-1.2,1.5 -3.525,2.4 -3.975,2.1c-1.05,-0.75 1.125,-3.975 1.95,-3.75c0.45,0.075 0.75,0.375 0.825,-0.225c0,0 0.075,-0.525 -0.825,-0.6c-2.025,-0.075 -3.975,4.05 -2.55,5.1c1.125,0.825 3.225,-0.525 4.5,-1.35c0,0.675 0.075,1.575 0.525,1.575c0.6,0 0.375,-0.675 0.45,-0.975c0.075,-0.225 0.975,-2.55 1.125,-2.625c0.15,0 0.15,1.65 1.8,1.95c0,1.2 0.6,1.875 1.5,1.95c1.275,0.075 3,-0.825 2.85,-1.125Zm-1.425,-3.675c0.15,0.15 -0.525,1.65 -1.95,1.95c0.6,-1.425 1.8,-2.1 1.95,-1.95Z" style="fill:#231f20;fill-rule:nonzero;"/><path d="M62.925,27.724c-0.075,-0.15 -0.9,0.375 -1.425,0c-0.75,-0.525 0.225,-2.775 0.15,-3c0,-0.075 -0.075,-0.15 -0.075,-0.225c0,-0.3 -0.225,-0.6 -0.45,-0.75c-2.1,-1.2 -6.075,2.775 -4.575,4.125c1.2,1.05 3.525,-0.75 3.825,-1.2c0,0 -0.075,1.95 1.2,1.95c0.75,0 1.125,-0.3 1.125,-0.3c0.075,0 0.3,-0.45 0.225,-0.6Zm-5.775,-0.45c-0.675,-0.825 2.25,-3.075 3.15,-2.775l0.375,0.075c0,0 0.075,0 0.075,0.15c-0.225,1.35 -3.075,3.225 -3.6,2.55Z" style="fill:#231f20;"/><path d="M69.9,22.249c-0.15,0 -0.15,-0.075 -0.375,-0.15c-0.375,-0.075 -3.15,-0.225 -4.05,-0.225c0.15,-0.6 0.375,-1.65 -0.225,-1.725c-0.375,-0.075 -0.45,0.225 -0.45,0.375c0,0.075 -0.15,0.675 -0.225,1.35c-0.6,0 -1.2,0 -1.275,0.3c-0.075,0.525 0.375,0.6 1.05,0.6c-0.075,0.375 -0.15,0.675 -0.225,0.9c-0.225,0.675 -0.825,2.925 -0.9,3.675c0,0.675 0.3,1.35 0.75,1.2c0.375,-0.075 1.125,-0.525 2.1,-0.975c0.45,1.125 1.5,1.125 1.725,1.125c0.675,-0.075 2.1,-0.825 1.875,-1.125c-0.15,-0.3 -1.2,0.525 -2.175,0.3c-0.45,-0.075 -0.675,-0.375 -0.825,-0.6c1.65,-0.75 3.3,-1.575 2.625,-2.85c-0.675,-1.35 -3.6,0.525 -3.525,2.4c-0.9,0.45 -1.725,0.675 -1.8,0.675c-0.15,-0.075 0,-0.675 0.075,-0.975c0.075,-0.375 0.75,-2.625 1.05,-3.675c0.75,0 2.55,0.15 3.75,0.075c0.75,-0.075 1.2,-0.3 1.2,-0.375c0.225,-0.225 0.225,-0.3 -0.15,-0.3Zm-3.15,3.975c0.675,-1.575 1.95,-1.5 1.95,-1.35c0,0.375 -0.975,0.975 -1.95,1.5c0,-0.075 0,-0.15 0,-0.15Z" style="fill:#231f20;"/></g></g></svg>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- PP Stock tools -->
    <li class="menu-item">
        <a href='/' target="_self" class="menu-link bg-success-subtle">
            <i class="menu-icon tf-icons ri-home-smile-line"></i>
            <div>KPI Dashboard</div>
        </a>
    </li>
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards")
      || currentPage.StartsWith("/ASSPrdData")? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div>
            SPC Data logs
        </div>
        @* <div class="badge bg-danger rounded-pill ms-auto">5</div> *@
      </a>
      <ul class="menu-sub">

        @* <li class='menu-item@(currentPage == "/ASSPrdData/SockleMainDrv"
          || currentPage == "" ? " active open" : "")'>
          <a href="/ASSPrdData/SockleMainDrv" class="menu-link" title="">
            <div>Sockle Main Drive</div>
          </a>
        </li> *@

        <li class='menu-item@(currentPage.StartsWith("/ASSPrdData/MaxThread") ? " active open" : "")'>
          <a href="/ASSPrdData/MaxThread" class="menu-link">
            <div>Max Thread cutting current</div>
          </a>
        </li>

        <li class='menu-item@(currentPage.StartsWith("/ASSPrdData/UderMaintenance?pageid=1") ? " active open" : "")'>
          <a href="/ASSPrdData/UderMaintenance?pageid=1" class="menu-link">
            <div>Auto threader</div>
          </a>
        </li>

        <li class='menu-item@(currentPage.StartsWith("/ASSPrdData/UderMaintenance?pageid=2") ? " active open" : "")'>
          <a href="/ASSPrdData/UderMaintenance?pageid=2" class="menu-link" title="[LMS Length measuring system]">
            <div>Buttonhole foot 3A calibration</div>
          </a>
        </li>

        <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=3" ? " active open" : "")'>
          <a href="/ASSPrdData/UderMaintenance?pageid=3" class="menu-link" title="[03553697.5.00]">
            <div>Bobbin Case</div>
          </a>
        </li>
        
        <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=4" ? " active open" : "")'>
          <a href="/ASSPrdData/UderMaintenance?pageid=4" class="menu-link" title="ABC sensor">
            <div>Sewing Foot Detection</div>
          </a>
        </li>

        <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=5" ? " active open" : "")'>
          <a href="/ASSPrdData/UderMaintenance?pageid=5" class="menu-link" >
            <div>Differrent weight</div>
          </a>
        </li>
        
        <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=6" ? " active open" : "")'>
          <a href="/ASSPrdData/UderMaintenance?pageid=6" class="menu-link" title="Calibration (Lower, Higher, Highest)">
            <div>Thread Tension</div>
          </a>
        </li>

        <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=7" ? " active open" : "")'>
          <a href="/ASSPrdData/UderMaintenance/?pageid=7" class="menu-link" title="(fine adjustment)">
            <div>TTA adjustment</div>
          </a>
        </li>

        <!-- Start Sub In SUb -->
        <li class='menu-item@(currentPage.StartsWith("/ASSPrdData/UderMaintenance?pageid=8")? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-home-smile-line"></i>
            <div>
                Balance Adjustment
            </div>
            @* <div class="badge bg-danger rounded-pill ms-auto">5</div> *@
          </a>

          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=8.1" ? " active open" : "")'>
              <a href="/ASSPrdData/UderMaintenance?pageid=8.1" class="menu-link">
                <div>Balance Rough Adjustment</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=8.2" ? " active open" : "")'>
              <a href="/ASSPrdData/UderMaintenance?pageid=8.2" class="menu-link" title="ABC sensor">
                <div>Balance Fine Adjustment</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=8.3" ? " active open" : "")'>
              <a href="/ASSPrdData/UderMaintenance?pageid=8.3" class="menu-link" title="ABC sensor">
                <div>BDF Balance Fine Adjustment</div>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Sub In SUb -->
        
        <li class='menu-item@(currentPage == "/ASSPrdData/UderMaintenance?pageid=9" ? " active open" : "")'>
          <a href="/ASSPrdData/UderMaintenance?pageid=9" class="menu-link" title="ABC sensor">
            <div>Base plate</div>
          </a>
        </li>
        

      </ul>
    </li>

    <!-- Misc -->
    <li class="menu-header mt-7"><span class="menu-header-text">Misc</span></li>

    <li class='menu-item@(currentPage == "/AdminCfg/TopviewCfg" ? " active open" : "")'>
            <a href='/AdminCfg/TopviewCfg' target="_self" class="menu-link">
            <i class="ri-file-settings-line"></i>
            <div>&nbsp; Topview Display</div>
        </a>
    </li>
    @* <li class='menu-item@(currentPage == "/AdminCfg/MachineParam" ? " active open" : "")'>
        <a href='/AdminCfg/MachineParam' target="_self" class="menu-link">
            <i class="ri-file-settings-line"></i>
            <div>&nbsp; Topview Parameters</div>
        </a>
    </li> *@
    <li class='menu-item@(currentPage == "/AdminCfg/PassFailConfig" ? " active open" : "")'>
        <a href='/AdminCfg/PassFailConfig' target="_self" class="menu-link">
            <i class="ri-file-settings-line"></i>
            <div>&nbsp; Pass/Fail Parameters</div>
        </a>
    </li>
    <li class="menu-item">
        <a href='@TempData.Peek("support")' target="_self" class="menu-link">
          <i class="menu-icon tf-icons ri-lifebuoy-line"></i>
          <div>Support</div>
        </a>
    </li>
    <li class="menu-item">
            <a href='@TempData.Peek("documentation")' target="_self" class="menu-link">
        <i class="menu-icon tf-icons ri-article-line"></i>
        <div>Documentation</div>
      </a>
    </li>

  </ul>

</aside>
<!-- / Menu -->
